body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
/*header css*/
.navbar{
    background-color: #000;
}
.navbar-brand{
    color: antiquewhite;
}
.navbar-nav{
    flex-direction: row;
    color: #fff;
}
.nav a{
    margin: 50px;
    color: #fff;
}
.main-container{
    background-color: #ebebeb;
    width: 100%;
    height: 100%;
}

/*!----bootsstrap list model css-------------->*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/*-------------------------------------------------------------*/
/*----------------model window fixed height and width -----------------------------*/
.modal-dialog {
    width: 1000px;
    height:650px !important;
}
.modal-content {
    /* 80% of window height */
    /*height: 60%;*/
    width: 1000px !important;
    height:650px !important;
    background-color:#BBD6EC;

}     
.modal-body{
    overflow-x:hidden;
    overflow-y: scroll;
}   
.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}
.media-rightpane{
    padding-left: 10px;
    margin-left: 10px;
}